$bg-color: linear-gradient(to top right, white, rgba(141, 141, 199, 0.5));
$border: 1px rgb(66,52,52);

body {
    background: {
        size: cover;
        attachment: fixed;
        position:fixed;
        repeat: center;
        image: url(pc.jpeg);
    }
    margin: {
        right: 20%;
        left: 10px;
    }
    position: fixed;
    width: auto;
    top: 0;
    left: 0;    
}

.details {
    border: $border;
    border-radius: 10px;
    background-image: $bg-color;
    
    p{
        margin-left: 20px;
        font-size: 1.5rem;
        color: green;
    }

    a{
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        color: black;

        }

    }




